<template>
  <div>
    <div v-for="(task, index) in history" :key="index">
      {{ task.title }}
    </div>
  </div>
</template>

<script>
export default {
  name: "History",
  data: function () {
    return {
      history: JSON.parse(localStorage.getItem("stored_deleted_tasks")) || [],
    };
  },
};
</script>

<style scoped></style>
